<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<section class="banner d-flex justify-content-center align-items-center ">
  
  
       <div class="card mx-5">
         <div class="card-body">
           
           <h3 class="text-center">Change password</h3>
           
           <form th:action="@{/newPassword}" method="post">
             
             <div class="form-group">
             <label for="newPassword">New Password:</label>
              <input name="newPassword" id="newPassword" type="text" class="form-control" placeholder="Enter New Password"/>
             
             
               <div class="container text-center">
               
               <button type="submit" class="btn bg-primary mt-2 text-white">Update</button>
               
               </div>
             
             </div>
           
           
           
           
           </form>
           
           
         
         </div>
         
       
       </div>
      
</section>

</body>
</html>